[submodule "themes/dot-org-hugo-theme"]
	path = themes/dot-org-hugo-theme
	url = https://github.com/cncf/dot-org-hugo-theme.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/anake"]
	path = themes/anake
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
